<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Detalle de ingreso egreso</h3>

        <table class="table table-hover table-striped table-light">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Monto</th>
              <th>Tipo</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of ingresosEgresos | ordenarIngresos">
              <td>{{item.description | titlecase}}</td>
              <td>{{item.monto | currency}}</td>
              <td [ngStyle]="{'color': item.tipo === 'ingreso' ? 'green' : 'red'}"
              >{{item.tipo | uppercase}}</td>
              <td>
                <button 
                  type="button"
                  (click)="borrarItem(item.uid!)"
                  class="btn btn-danger">
                  <i class="fa fa-trash"></i>
                  Borrar</button>
              </td>
            </tr>
          </tbody>

        </table>


      </div>
    </div>
  </div>
</div>