

<footer class="footer">
  <span class="todo-count">
    <strong>{{tareasPendientes}}</strong>
    {{tareasPendientes !== 1 ? 'tareas pendientes' : 'tarea pendiente'}}
  </span>
  <ul class="filters">
    <li *ngFor="let filtro of filtros" style="cursor:pointer;">
      <a
        (click)="cambiarFiltro(filtro)"
        [class.selected]="filtroActual === filtro">
          {{filtro | capitalize}}</a>
    </li>
  </ul>
  <button class="clear-completed"
  (click)="limpiarCompletados()">Limpiar completados</button>
</footer>
